{% extends 'index.html' %}
{% load static %}

{% block content %}
<div class="about-section">
    <h2 style="text-align:center">Our Team</h2>
    <div class="row">
        <div class="column">
            <div class="card">
                <div class="container">
                    <h2>Sylvia Dee</h2>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <div class="container">
                    <h2>Richard Vachula</h2>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <div class="container">
                    <h2>Saloni Dalal</h2>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <div class="container">
                    <h2>Andrew Ondara</h2>
                </div>
            </div>
        </div>
    </div>

    <div class="references">
        <h2>References</h2>
        <ul>
            <li>Community Climate System Model (CCSM3) and CESM1.2 (Liu et al., 2009; letter of collaboration: Bette Otto-Bliesner)</li>
            <li>FAst Met Office/UK Universities Simulator (FAMOUS; Smith and Gregory, 2012)</li>
            <li>Loch-Vecode-Ecbilt-Clio-Agism Model (LOVECLIM; Timm and Timmermann, 2007)</li>
            <li><a href="https://www.paleofire.org/index.php?p=CDA/index&gcd_menu=CDA">Global Paleofire Database</a></li>
            <li>Link to the lightning data, ref and description</li>
        </ul>
    </div>
</div>
{% endblock %}
